:root {
    --background-color: #e3ded1;
    --font: #181d24;
    --font2: #eae5e5;
    --color1: #bbaf95;
    --color2: #2b6d6f;
    --color3: #232b38;
    --color4: #9d8272;
    --p-font-family: "Lato", sans-serif;
    --h1-font-family: "Train One", system-ui;
    --h2-font-family: "Play", sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

@media screen and (max-width: 800px) {

/* HEADER STYLING MOBIL */
    header {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
        
/* LOGO MOBIL */
        
    .logo img {
        width: 100%;
        height: auto;
        max-width: 125px;
        }
    
    .logo a {
        text-decoration: none;
    }
        
/* MENU MOBIL */
        
.menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--font);
    text-align: center;
    z-index: 1;
}

.menu-icon {
    font-size: 15vw;
    margin-top: -15px;
    cursor: pointer;
    display: block;
    color: var(--font);
}

#menu-toggle {
    display: none;
}
    
#menu-toggle:checked + .menu-icon + .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu ul li {
    margin: 10px 0;
}
    
.menu ul li a {
    text-decoration: none;
    color: var(--font2);
    font-family: var(--h2-font-family);
    font-size: 18px;
    display: block;
    padding: 10px 0;
}
           
/* STYLING PROJEKT */
.projekt-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 40px;
}

/* overskrift  */
.projekt-box .box-overskrift-projekt {
    margin: 0;
    display: flex;
    justify-content: center;
}

.projekt-box .box-overskrift-projekt h2 {
    font-size: 40px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    color: var(--font);
}

/* alle projekter */
.projekt-box .box-midten {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 10px;
}

/* projekter billeder */
.projekt-box .box-midten img {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    max-width: 350px;
    max-height: 350px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.projekt-box .box-midten video {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    max-width: 350px;
    max-height: 350px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

/* projekter oevrskrift */
.projekt-box .box-midten h2 {
    font-family: var(--h2-font-family);
    color: var(--font);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 450;
}

.projekt-box .box-midten p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 22px;
    font-family: var(--p-font-family);
    color: var(--font);
    width: 100%;
    max-width: 350px;
}

/* bokse til projekter */
.projekt-box .box-midten .box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

/* FOOTER STYLING */
    .footer-box {
        margin: 0;
        background-color: var(--font);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*copy og some*/
    .footer-box .copy-some-footer {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer-box .copy-some-footer .some-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding-bottom: 10px;
    }

    .footer-box .copy-some-footer .some-box img {
        width: 100%;
        max-width: 50px;
    }

    .footer-box .copy-some-footer .copy {
        font-family: var(--p-font-family);
        color: var(--font2);
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 200;
        display: flex;
        justify-content: center;
    } 
}

/* IPAD OG SMÅ SKÆRME */

@media screen and (min-width: 801px) and (max-width: 1000px) {


body {
    max-width: 1000px;
    margin: 0 auto;
}
/* HEADER STYLING WEB */

header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    padding-bottom: 0;
}

/* LOGO WEB */

.logo img {
    width: 100%;
    max-width: 140px;
    height: auto;
}

.logo a {
    text-decoration: none;
}

/* MENU WEB */

.menu {
    list-style: none;
    display: flex;
    align-self: center;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-transform: uppercase;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + .menu {
    display: none;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    font-family: var(--h2-font-family);
    color: var(--font);
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
}

/* hover effekt af menu punkter */
.menu ul li a:hover {
    color: var(--color2);
}

    
/* STYLING PROJEKT */
.projekt-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
}

/* overskrift  */
.projekt-box .box-overskrift-projekt {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.projekt-box .box-overskrift-projekt h2 {
    font-size: 40px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    color: var(--font);
}


.projekt-box .box-overskrift-projekt h2 {
    font-size: 40px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    color: var(--font);
}

/* alle projekter */
.projekt-box .box-midten {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
}

/* projekter billeder */
.projekt-box .box-midten img {
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    max-width: 320px;
    max-height: 320px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.projekt-box .box-midten video {
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    max-width: 320px;
    max-height: 320px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}


/* projekter oevrskrift */
.projekt-box .box-midten h2 {
    font-family: var(--h2-font-family);
    color: var(--font);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 450;
}

.projekt-box .box-midten p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 22px;
    font-family: var(--p-font-family);
    color: var(--font);
    width: 100%;
    max-width: 320px;
}

/* bokse til projekter */
.projekt-box .box-midten .box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}


/* FOOTER STYLING WEB */
    .footer-box {
        margin: 0;
        background-color: var(--font);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*copy og some*/
    .footer-box .copy-some-footer {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer-box .copy-some-footer .some-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding-bottom: 10px;
    }

    .footer-box .copy-some-footer .some-box img {
        width: 100%;
        max-width: 50px;
    }

    .footer-box .copy-some-footer .copy {
        font-family: var(--p-font-family);
        color: var(--font2);
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 200;
        display: flex;
        justify-content: center;
    } 
}


/* WEB */

@media screen and (min-width: 1001px) {

    body {
        max-width: 1500px;
        margin: 0 auto;
    }
    /* HEADER STYLING WEB */

    header {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 120px;
    }
    
    /* LOGO WEB */
    
    .logo img {
        width: 100%;
        max-width: 140px;
        height: auto;
    }
    
    .logo a {
        text-decoration: none;
    }
    
    /* MENU WEB */
    
    .menu {
        list-style: none;
        display: flex;
        align-self: center;
    }
    
    .menu li {
        margin: 0;
        padding: 0;
    }
    
    .menu a {
        text-decoration: none;
        color: white;
        padding: 20px;
        text-transform: uppercase;
    }
    
    .menu-icon {
        display: none;
    }
    
    #menu-toggle {
        display: none;
    }
    
    #menu-toggle:checked + .menu-icon + .menu {
        display: none;
    }
    
    .menu ul {
        list-style-type: none;
    }
    
    .menu ul li {
        display: inline;
    }
    
    .menu ul li a {
        font-family: var(--h2-font-family);
        color: var(--font);
        text-decoration: none;
        font-size: 18px;
        font-weight: 200;
    }
    
    /* hover effekt af menu punkter */
    .menu ul li a:hover {
        color: var(--color2);
    }
    

/* STYLING PROJEKT */
    .projekt-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 140px;
    }

/* overskrift  */
    .projekt-box .box-overskrift-projekt {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .projekt-box .box-overskrift-projekt h2 {
        font-size: 40px;
        letter-spacing: 3px;
        font-family: var(--h2-font-family);
        color: var(--font);
    }

/* alle projekter */
.projekt-box .box-midten {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
}

/* projekter billeder */
.projekt-box .box-midten img {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    max-width: 350px;
    max-height: 350px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.projekt-box .box-midten video {
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

/* projekter oevrskrift */
.projekt-box .box-midten h2 {
    font-family: var(--h2-font-family);
    color: var(--font);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 450;
}

.projekt-box .box-midten p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 22px;
    font-family: var(--p-font-family);
    color: var(--font);
    width: 100%;
    max-width: 350px;
}

/* bokse til projekter */
.projekt-box .box-midten .box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projekt-box .box-midten .box6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}


/* FOOTER STYLING WEB */

.footer-box {
    background-color: var(--font);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*copy og some*/

.footer-box .copy-some-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-box .copy-some-footer .some-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
}

.footer-box .copy-some-footer .some-box img {
    width: 100%;
    max-width: 50px;
}


.footer-box .copy-some-footer .copy {
    font-family: var(--p-font-family);
    color: var(--font2);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

}


@media screen and (min-width: 1100px) {

    /* projekter billeder */
    .projekt-box .box-midten img {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    .projekt-box .box-midten video {
        max-width: 400px;
        max-height: 400px;
    }
    .projekt-box .box-midten p {
        max-width: 400px;
    }
    
    }
    
    @media screen and (min-width: 1200px) {
    
        /* projekter billeder */
        .projekt-box .box-midten img {
            width: 100%;
            max-width: 450px;
            max-height: 450px;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
        }
    
        .projekt-box .box-midten video {
            max-width: 450px;
            max-height: 450px;
        }

        .projekt-box .box-midten p {
            max-width: 450px;
        }
    }
    
    @media screen and (min-width: 1300px) {
    
        /* projekter billeder */
        .projekt-box .box-midten img {
            width: 100%;
            max-width: 500px;
            max-height: 500px;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
        }
    
        .projekt-box .box-midten video {
            max-width: 500px;
            max-height: 500px;
        }

        .projekt-box .box-midten p {
            max-width: 500px;
        }
     }
    
     @media screen and (min-width: 1400px) {
    
        /* projekter billeder */
        .projekt-box .box-midten img {
            width: 100%;
            max-width: 550px;
            max-height: 550px;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
        }
    
        .projekt-box .box-midten video {
            max-width: 550px;
            max-height: 550px;
        }

        .projekt-box .box-midten p {
            max-width: 550px;
        }
     }
    
     @media screen and (min-width: 1500px) {
    
        body {
            max-width: 100%;
        }
        /* projekter billeder */
        .projekt-box .box-midten img {
            width: 100%;
            max-width: 550px;
            max-height: 550px;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
        }
    
        .projekt-box .box-midten video {
            max-width: 550px;
            max-height: 550px;
        }

        .projekt-box .box-midten p {
            max-width: 550px;
        }
     }