* body {
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #E3DED1;
    --font: #232B38;
    --color1: #9D8272;
    --color2: #2B6D6F;
}

:root {
    --p-font-family: "Lato", sans-serif;
    --p-font-weight: 300;
    --h1-font-family: "Train One", system-ui;
    --h1-font-weight: 400;
    --h2-font-family: "Play", sans-serif;
    --h2-font-weight: 400;
}

body {
    background-color: var(--background-color);
}

a {
    cursor: pointer;
}


h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: 70px;
    color: var(--color1);
    letter-spacing: 2px;
    line-height: 30px;
}

p {
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    font-size: 18px;
    color: var(--font);
    letter-spacing: 2px;
    line-height: 30px;
}


/* HEADER STYLING */

.header-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
}

.logo-box img {
    width: 100%; /* Responsive billede */
    max-width: 300px; /* Justering af den maksimale bredde, men stadig responsiv */
    height: auto;
}

.menu-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.menu-box ul li {
    display: inline;
}

.menu-box ul li a {
    font-family: var(--h2-font-family);
    color: var(--font);
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
}

.menu-box ul li a:hover {
    color: var(--color2);
}



.box-h1-h2 {
    position: absolute; /*box kan flyttes på nedenstående måde*/
    left: 160px;
    top: 100px;

}

.box-img {
    position: absolute;
    left: 355px;
    top: 230px;
}

.box-img img {
    width: 330px;
    height: 450px;
}

.box-text {
    position: absolute;
    right: 160px;
    top: 230px;
}

/*styling projekt*/

.ramme-projekt {
    position: absolute;
    top: 120px;
    left: 0px;
    background-color: var(--background-color);
    width: 1440px;
    height: 2305px;
}

.box-overskrift-projekt h2 {
    position: relative;
    top: -20px;
    left: 160px;
    font-size: 90px;
    letter-spacing: 5px;
    color: var(--font);
    font-family: "Bebas Neue", sans-serif;
}

.projekt1 {
    display: flex;;
    position: absolute;
    top: 167px;
    left: 160px;
    border-radius: 10px 10px 10px 10px;
    width: 518px;
    height: 625px;
    object-fit: cover;
}

.box-text-projekt1 {
    position: absolute;
    top: 200px;
    left: 160px;
    background-color: #9D8272;
    z-index: 1;
}



.projekt2 {
    position: absolute;
    top: 167px;
    right: 160px;
    border-radius: 10px;
    width: 518px;
    height: 625px;
    object-fit: cover;
}

.projekt3 {
    position: absolute;
    top: 859px;
    left: 160px;
    border-radius: 10px;
    width: 518px;
    height: 625px;
    object-fit: cover;
}
.projekt4 {
    position: absolute;
    top: 859px;
    right: 160px;
    border-radius: 10px;
    width: 518px;
    height: 625px;
    object-fit: cover;
}
.projekt5 {
    position: absolute;
    top: 1551px;
    left: 160px;
    border-radius: 10px;
    width: 518px;
    height: 625px;
    object-fit: cover;
}

.projekt6 {
    position: absolute;
    top: 1551px;
    right: 160px;
    border-radius: 10px;
    width: 518px;
    height: 625px;
    object-fit: cover;
}