:root {
    --background-color: #e3ded1;
    --font: #181d24;
    --font2: #eae5e5;
    --color1: #bbaf95;
    --color2: #2b6d6f;
    --color3: #232b38;
    --color4: #9d8272;
    --p-font-family: "Lato", sans-serif;
    --h1-font-family: "Train One", system-ui;
    --h2-font-family: "Play", sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

@media screen and (max-width: 800px) {

/* HEADER STYLING MOBIL */
    header {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
        
/* LOGO MOBIL */
        
    .logo img {
        width: 100%;
        height: auto;
        max-width: 125px;
        }
    
    .logo a {
        text-decoration: none;
    }
        
/* MENU MOBIL */
        
    .menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: var(--font);
        text-align: center;
        z-index: 1;
    }
    
    .menu-icon {
        font-size: 15vw;
        margin-top: -15px;
        cursor: pointer;
        display: block;
        color: var(--font);
    }
    
    #menu-toggle {
        display: none;
    }
        
    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .menu ul li {
        margin: 10px 0;
    }
        
    .menu ul li a {
        text-decoration: none;
        color: var(--font2);
        font-family: var(--h2-font-family);
        font-size: 18px;
        display: block;
        padding: 10px 0;
    }
           
/* MAIN STYLING MOBIL */
        
    .main-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
        
/* OVERSKRIFT MAIN MOBIL */

    .foto-box .mig-foto img {
        display: none;
    }
     
    .main-box .tekst-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .main-box .tekst-box .h1 {
    font-size: 14vw;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    font-weight: 400;
    color: var(--font);
    }

    .main-box .tekst-box .h2 {
        font-size: 9vw;
        letter-spacing: 1px;
        font-family: Play;
        color: var(--color4);
    }
           
/* introtekst main */
.main-box .tekst-box .p-og-knap {
    margin: 0;
    display: flex;
    flex-direction: column;
}
    .main-box .tekst-box .p {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 350;
        line-height: 24px;
        font-family: var(--p-font-family);
        color: var(--font);
        align-self: center;
        padding: 10px 20px;
    }

    /* læs mere knap */
    .main-box .tekst-box .box-knap1 {
        display: flex;
        align-self: flex-end;
        text-decoration: none;
        align-items: flex-end;
        margin: 25px 0px;
    }
    
    .main-box .tekst-box .box-knap1 h2 {
        font-size: 20px;
        font-family: var(--h2-font-family);
        font-weight: 200;
        text-align: center;
    }
    
    .main-box .tekst-box .box-knap1 h2 a { 
        text-decoration: none;
        text-align: center;
        background-color: var(--color2);
        padding: 15px 20px;
        border-radius: 10px;
        color: var(--font2);
    }
    
    .main-box .tekst-box .box-knap1 h2 a:hover {
        background-color: var(--color3);
        color: var(--font2);
    }

/* STYLING PROJEKT MOBIL */
        
    .projekt-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 15px;
        background-color: var(--color1);
    }
    
/* overskrift projekter */
    .projekt-box .box-overskrift-projekt {
        background-color: var(--color1);
        margin: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .projekt-box .box-overskrift-projekt h2 {
        font-size: 40px;
        letter-spacing: 3px;
        font-family: var(--h2-font-family);
        color: var(--font);
    }

/* alle projekter */
    .projekt-box .box-midten {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--color1);
    }

/* billeder projekter */
    .projekt-box .box-midten img {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        display: flex;
        align-content: space-between;
        border-radius: 10px;
    }

    .projekt-box .box-midten video {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

/* projekter oevrskrifter */
    .projekt-box .box-midten h2 {
        font-family: var(--h2-font-family);
        color: var(--font);
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 450;
    }     

/* bokse til projekter */
    .projekt-box .box-midten .box1 {
        padding: 10px;
    }

    .projekt-box .box-midten .box2 {
        padding: 10px;
    }

    .projekt-box .box-midten .box3 {
        padding: 10px;
    }

    .projekt-box .box-midten .box4 {
        padding: 10px;
    }

    .projekt-box .box-midten .box5 {
        padding: 10px;
    }

    .projekt-box .box-midten .box6 {
        padding: 10px;
    }
    
/* knap under projekter */
.projekt-box .box-ned {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.projekt-box .box-ned .box-knap2 {
    display: flex;
    max-width: 140px;
    align-self: center;
    text-decoration: none;
    align-items: center;
    margin: 25px 0px;
}

.projekt-box .box-ned h2 {
    font-size: 20px;
    font-family: var(--h2-font-family);
    font-weight: 200;
    text-align: center;
}

.projekt-box .box-ned .box-knap2 h2 a { 
    text-decoration: none;
    text-align: center;
    background-color: var(--color2);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--font2);
}

.projekt-box .box-ned .box-knap2 h2 a:hover {
    background-color: var(--color3);
    color: var(--font2);
}

/* KONTAKT STYLING */     
    .kontakt-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 20px;
    }

/* overskrift kontakt */
    .kontakt-box .kontakt-mig-overskrift h2 {
        font-size: 40px;
        letter-spacing: 3px;
        font-family: var(--h2-font-family);
        color: var(--font);
    }

/* tekst kontakt */
    .kontakt-box .kontakt-tekst .linje1 {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 24px;
        font-family: var(--p-font-family);
        color: var(--font);
        font-weight: 500;
        padding-bottom: 20px;
    }

    .kontakt-box .kontakt-tekst .rest-linjer {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 350;
        line-height: 24px;
        font-family: var(--p-font-family);
        color: var(--font);
        max-width: 700px;
    }

/* kontaktinfo */
    .kontakt-box .kontaktinfo-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        font-family: var(--p-font-family);
        font-size: 16px;
        font-weight: 300;
        padding-top: 20px;
    }

/* kontaktinfo overskrift */
    .kontakt-box .kontaktinfo-box .info-overskrift h2 {
        font-size: 30px;
        letter-spacing: 3px;
        font-family: var(--h2-font-family);
        font-weight: 100;
        color: var(--font); 
    }

/* kontakt mail */
    .kontakt-box .kontaktinfo-box .mail-kontakt {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon {
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail-icon img {
        width: 100%;
        max-width: 40px;
        max-height: 40px;
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail {
        font-family: var(--h2-font-family);
        font-size: 15px;
        letter-spacing: 2px;
        padding: 20px;
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail a {
        text-decoration: none;
        color: var(--font);
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail a:hover {
        text-decoration: underline;
        color: var(--font);
    }

/* kontakt tlf */
    .kontakt-box .kontaktinfo-box .tlf-kontakt {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon {
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon img {
        width: 100%;
        max-width: 40px;
        max-height: 40px;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf {
        font-family: var(--h2-font-family);
        font-size: 15px;
        color: var(--font);
        letter-spacing: 2px;
        padding: 20px;
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf a {
        text-decoration: none;
        color: var(--font);
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf a:hover {
        text-decoration: underline;
        color: var(--font);
    }

/* kontakt knap */
    .kontakt-box .kontaktinfo-box .box-knap {
        display: flex;
        flex-direction: column;
        max-width: 180px;
        text-decoration: none;
        margin-bottom: 10px;
        align-self: center;
        margin: 20px;
    }

    .kontakt-box .kontaktinfo-box .box-knap .kontakt-knap h2 {
        font-size: 20px;
        font-family: var(--h2-font-family);
        font-weight: 200;
        padding: 5px 10px;
        text-align: center;
        align-self: center;
    }

    .kontakt-box .kontaktinfo-box .box-knap .kontakt-knap h2 a { 
        text-decoration: none;
        text-align: center;
        background-color: var(--color2);
        padding: 20px 15px;
        border-radius: 10px;
        color: var(--font2);
    }

    .kontakt-box .kontaktinfo-box .box-knap .kontakt-knap a:hover {
        background-color: var(--color3);
        color: var(--font2);
    }

/* FOOTER STYLING WEB */
    .footer-box {
        margin: 0;
        background-color: var(--font);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*copy og some*/
    .footer-box .copy-some-footer {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer-box .copy-some-footer .some-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding-bottom: 10px;
    }

    .footer-box .copy-some-footer .some-box img {
        width: 100%;
        max-width: 50px;
    }

    .footer-box .copy-some-footer .copy {
        font-family: var(--p-font-family);
        color: var(--font2);
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 200;
        display: flex;
        justify-content: center;
    } 
}

/* IPAD OG SMÅ SKÆRME */

@media screen and (min-width: 801px) and (max-width: 1000px) {


body {
    max-width: 1000px;
    margin: 0 auto;
}
/* HEADER STYLING WEB */

header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    padding-bottom: 0;
}

/* LOGO WEB */

.logo img {
    width: 100%;
    max-width: 140px;
    height: auto;
}

.logo a {
    text-decoration: none;
}

/* MENU WEB */

.menu {
    list-style: none;
    display: flex;
    align-self: center;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-transform: uppercase;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + .menu {
    display: none;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    font-family: var(--h2-font-family);
    color: var(--font);
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
}

/* hover effekt af menu punkter */
.menu ul li a:hover {
    color: var(--color2);
}

/* MAIN STYLING WEB */
.main-box {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    padding: 0 60px;

}

/* forside billede */
.main-box .foto-box {
    display: flex;
    margin-right: 50px;
    margin-bottom: -4px;
}

.main-box .foto-box .mig-foto img {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
}

/* OVERSKRIFT MAIN */
.main-box .tekst-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    max-width: 600px;
}

.main-box .tekst-box .h1 {
    font-size: 70px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    font-weight: 400;
    color: #232b38;
}

.main-box .tekst-box .h2 {
    font-size: 45px;
    letter-spacing: 2px;
    font-family: Play;
    color: #9d8272;
}

/* introtekst main */
.main-box .tekst-box .p-og-knap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.main-box .tekst-box .p-og-knap .p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 24px;
    font-family: var(--p-font-family);
    color: var(--font);
    width: 100%;
    padding-bottom: 20px;
}

    /* læs mere knap */
    .main-box .tekst-box .box-knap1 {
        display: flex;
        align-self: flex-end;
        text-decoration: none;
        align-items: flex-end;
        margin: 25px 0px;
    }
    
    .main-box .tekst-box .box-knap1 h2 {
        font-size: 20px;
        font-family: var(--h2-font-family);
        font-weight: 200;
        text-align: center;
    }
    
    .main-box .tekst-box .box-knap1 h2 a { 
        text-decoration: none;
        text-align: center;
        background-color: var(--color2);
        padding: 15px 20px;
        border-radius: 10px;
        color: var(--font2);
    }
    
    .main-box .tekst-box .box-knap1 h2 a:hover {
        background-color: var(--color3);
        color: var(--font2);
    }

/* STYLING PROJEKT */
    
.projekt-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    padding: 0 50px;
}

/* overskrift projekter */
.projekt-box .box-overskrift-projekt {
    background-color: var(--color1);
    margin: 0;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.projekt-box .box-overskrift-projekt h2 {
    font-size: 40px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    color: var(--font);
}

/* alle projekter */
.projekt-box .box-midten {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color1);
}

/* billeder projekter */
.projekt-box .box-midten img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    border-radius: 10px;
}

.projekt-box .box-midten video {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

/* projekter oevrskrifter */
.projekt-box .box-midten h2 {
    font-family: var(--h2-font-family);
    color: var(--font);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 450;
}     

/* bokse til projekter */
.projekt-box .box-midten .box1 {
    padding: 20px;
}

.projekt-box .box-midten .box2 {
    padding: 20px;
}

.projekt-box .box-midten .box3 {
    padding: 20px;
}

.projekt-box .box-midten .box4 {
    padding: 20px;
}

.projekt-box .box-midten .box5 {
    padding: 20px;
}

.projekt-box .box-midten .box6 {
    padding: 20px;
}

/* knap under projekter */
.projekt-box .box-ned {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.projekt-box .box-ned .box-knap2 {
    display: flex;
    max-width: 140px;
    align-self: center;
    text-decoration: none;
    align-items: center;
    margin: 25px 0px;
}

.projekt-box .box-ned h2 {
    font-size: 20px;
    font-family: var(--h2-font-family);
    font-weight: 200;
    text-align: center;
}

.projekt-box .box-ned .box-knap2 h2 a { 
    text-decoration: none;
    text-align: center;
    background-color: var(--color2);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--font2);
}

.projekt-box .box-ned .box-knap2 h2 a:hover {
    background-color: var(--color3);
    color: var(--font2);
}


/* KONTAKT STYLING */     
.kontakt-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
}

/* overskrift kontakt */
.kontakt-box .kontakt-mig-overskrift h2 {
    font-size: 40px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    color: var(--font);
}

/* tekst kontakt */
.kontakt-box .kontakt-tekst .linje1 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    font-family: var(--p-font-family);
    color: var(--font);
    font-weight: 500;
    padding-bottom: 20px;
}

.kontakt-box .kontakt-tekst .rest-linjer {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 24px;
    font-family: var(--p-font-family);
    color: var(--font);
    max-width: 700px;
}

/* kontaktinfo */
    .kontakt-box .kontaktinfo-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        font-family: var(--p-font-family);
        font-size: 16px;
        font-weight: 300;
        padding-top: 20px;
    }

/* kontaktinfo overskrift */
    .kontakt-box .kontaktinfo-box .info-overskrift h2 {
        font-size: 30px;
        letter-spacing: 3px;
        font-family: var(--h2-font-family);
        font-weight: 100;
        color: var(--font); 
    }

/* kontakt mail */
    .kontakt-box .kontaktinfo-box .mail-kontakt {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon {
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail-icon img {
        width: 100%;
        max-width: 40px;
        max-height: 40px;
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 350;
        line-height: 24px;
        font-family: var(--p-font-family);
        color: var(--font);
        padding: 20px;
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail a {
        text-decoration: none;
        color: var(--font);
    }

    .kontakt-box .kontaktinfo-box .mail-kontakt .mail a:hover {
        text-decoration: underline;
        color: var(--font);
    }

/* kontakt tlf */
    .kontakt-box .kontaktinfo-box .tlf-kontakt {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon {
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon img {
        width: 100%;
        max-width: 40px;
        max-height: 40px;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 350;
        line-height: 24px;
        font-family: var(--p-font-family);
        color: var(--font);
        padding: 20px;
        display: flex;
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf a {
        text-decoration: none;
        color: var(--font);
    }

    .kontakt-box .kontaktinfo-box .tlf-kontakt .tlf a:hover {
        text-decoration: underline;
        color: var(--font);
    }

/* kontakt knap */
.kontakt-box .kontaktinfo-box .box-knap {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    text-decoration: none;
    margin-bottom: 10px;
    align-self: center;
    margin: 20px;
}

.kontakt-box .kontaktinfo-box .box-knap .kontakt-knap h2 {
    font-size: 20px;
    font-family: var(--h2-font-family);
    font-weight: 200;
    padding: 5px 10px;
    text-align: center;
    align-self: center;
}

.kontakt-box .kontaktinfo-box .box-knap .kontakt-knap h2 a { 
    text-decoration: none;
    text-align: center;
    background-color: var(--color2);
    padding: 20px 15px;
    border-radius: 10px;
    color: var(--font2);
}

.kontakt-box .kontaktinfo-box .box-knap .kontakt-knap a:hover {
    background-color: var(--color3);
    color: var(--font2);
}

/* FOOTER STYLING WEB */
    .footer-box {
        margin: 0;
        background-color: var(--font);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*copy og some*/
    .footer-box .copy-some-footer {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer-box .copy-some-footer .some-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding-bottom: 10px;
    }

    .footer-box .copy-some-footer .some-box img {
        width: 100%;
        max-width: 50px;
    }

    .footer-box .copy-some-footer .copy {
        font-family: var(--p-font-family);
        color: var(--font2);
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 200;
        display: flex;
        justify-content: center;
    } 
}


/* WEB */

@media screen and (min-width: 1001px) {

    body {
        max-width: 1500px;
        margin: 0 auto;
    }
    /* HEADER STYLING WEB */

    header {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 120px;
    }
    
    /* LOGO WEB */
    
    .logo img {
        width: 100%;
        max-width: 140px;
        height: auto;
    }
    
    .logo a {
        text-decoration: none;
    }
    
    /* MENU WEB */
    
    .menu {
        list-style: none;
        display: flex;
        align-self: center;
    }
    
    .menu li {
        margin: 0;
        padding: 0;
    }
    
    .menu a {
        text-decoration: none;
        color: white;
        padding: 20px;
        text-transform: uppercase;
    }
    
    .menu-icon {
        display: none;
    }
    
    #menu-toggle {
        display: none;
    }
    
    #menu-toggle:checked + .menu-icon + .menu {
        display: none;
    }
    
    .menu ul {
        list-style-type: none;
    }
    
    .menu ul li {
        display: inline;
    }
    
    .menu ul li a {
        font-family: var(--h2-font-family);
        color: var(--font);
        text-decoration: none;
        font-size: 18px;
        font-weight: 200;
    }
    
    /* hover effekt af menu punkter */
    .menu ul li a:hover {
        color: var(--color2);
    }
    
    /* MAIN STYLING WEB */
    .main-box {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0px 140px;
        margin-bottom: 20px;
    }
    
    /* forside billede */
    .main-box .foto-box {
        display: flex;
        margin-right: 50px;
        margin-bottom: -45px;
    }
    
    .main-box .foto-box .mig-foto img {
        width: 100%;
        min-width: 350px;
        max-width: 350px;
    }
    
    /* OVERSKRIFT MAIN */
    .main-box .tekst-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: flex-end;
        width: 100%;
        max-width: 600px;
    }
    
    .main-box .tekst-box .h1 {
        font-size: 86px;
        letter-spacing: 3px;
        font-family: var(--h2-font-family);
        font-weight: 400;
        color: #232b38;
    }
    
    .main-box .tekst-box .h2 {
        font-size: 56px;
        letter-spacing: 2px;
        font-family: Play;
        color: #9d8272;
    }
    
    /* introtekst main */
    .main-box .tekst-box .p-og-knap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
    }
    
    .main-box .tekst-box .p-og-knap .p {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 350;
        line-height: 24px;
        font-family: var(--p-font-family);
        color: var(--font);
        padding-bottom: 20px;
        max-width: 550px;
    }
    
    /* læs mere knap */
    .main-box .tekst-box .box-knap1 {
        display: flex;
        align-self: flex-end;
        text-decoration: none;
        align-items: flex-end;
        margin: 25px 0px;
    }
    
    .main-box .tekst-box .box-knap1 h2 {
        font-size: 20px;
        font-family: var(--h2-font-family);
        font-weight: 200;
        text-align: center;
    }
    
    .main-box .tekst-box .box-knap1 h2 a { 
        text-decoration: none;
        text-align: center;
        background-color: var(--color2);
        padding: 15px 20px;
        border-radius: 10px;
        color: var(--font2);
    }
    
    .main-box .tekst-box .box-knap1 h2 a:hover {
        background-color: var(--color3);
        color: var(--font2);
    }
    

/* STYLING PROJEKT */
    .projekt-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

/* overskrift  */
    .projekt-box .box-overskrift-projekt {
        background-color: var(--color1);
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px 140px;
    }

    .projekt-box .box-overskrift-projekt h2 {
        font-size: 40px;
        letter-spacing: 3px;
        font-family: var(--h2-font-family);
        color: var(--font);
    }

/* alle projekter */
    .projekt-box .box-midten {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--color1);
        margin: 0;
        padding: 20px 140px;
        padding-top: 10px;
    }

/* projekter billeder */
    .projekt-box .box-midten img {
        width: 100%;
        max-width: 350px;
        max-height: 350px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .projekt-box .box-midten video {
        width: 100%;
        max-width: 350px;
        max-height: 350px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }


/* projekter oevrskrift */
    .projekt-box .box-midten h2 {
        font-family: var(--h2-font-family);
        color: var(--font);
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 450;
    }

/* bokse til projekter */
    .projekt-box .box-midten .box1 {
        padding-bottom: 40px;
    }

    .projekt-box .box-midten .box2 {
        padding-bottom: 40px;
    }

    .projekt-box .box-midten .box3 {
        padding-bottom: 40px;
    }

    .projekt-box .box-midten .box4 {
        padding-bottom: 40px;
    }

    .projekt-box .box-midten .box5 {
        padding-bottom: 40px;
    }

    .projekt-box .box-midten .box6 {
        padding-bottom: 40px;
    }

/* knap under projekter */
.projekt-box .box-ned {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.projekt-box .box-ned .box-knap2 {
    display: flex;
    max-width: 140px;
    align-self: flex-end;
    text-decoration: none;
    margin: 25px 140px;
}

.projekt-box .box-ned h2 {
    font-size: 20px;
    font-family: var(--h2-font-family);
    font-weight: 200;
    text-align: center;
}

.projekt-box .box-ned .box-knap2 h2 a { 
    text-decoration: none;
    text-align: center;
    background-color: var(--color2);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--font2);
}

.projekt-box .box-ned .box-knap2 h2 a:hover {
    background-color: var(--color3);
    color: var(--font2);
}

/* KONTAKT STYLING */

.kontakt-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 140px;
}

/* overskrift kontakt */

.kontakt-box .kontakt-mig-overskrift {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.kontakt-box .kontakt-mig-overskrift h2 {
    font-size: 40px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    color: var(--font);
}

/* tekst kontakt */

.kontakt-box .kontakt-tekst .linje1 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--p-font-family);
    color: var(--font);
    width: 100%;
    padding-bottom: 20px;
}

.kontakt-box .kontakt-tekst .rest-linjer {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 24px;
    font-family: var(--p-font-family);
    color: var(--font);
    width: 100%;
}

/* kontaktinfo */
.kontakt-box .kontaktinfo-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--p-font-family);
    font-size: 16px;
    font-weight: 300;
    padding-top: 20px;
}

/* kontaktinfo overskrift */
.kontakt-box .kontaktinfo-box .info-overskrift h2 {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: var(--h2-font-family);
    font-weight: 100;
    color: var(--font); 
}

/* kontakt mail */
.kontakt-box .kontaktinfo-box .mail-kontakt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon {
    display: flex;
}

.kontakt-box .kontaktinfo-box .mail-kontakt .mail-icon img {
    width: 100%;
    max-width: 40px;
    max-height: 40px;
}

.kontakt-box .kontaktinfo-box .mail-kontakt .mail {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 24px;
    font-family: var(--p-font-family);
    color: var(--font);
    padding: 20px;
    display: flex;
}

.kontakt-box .kontaktinfo-box .mail-kontakt .mail a {
    text-decoration: none;
    color: var(--font);
}

.kontakt-box .kontaktinfo-box .mail-kontakt .mail a:hover {
    text-decoration: underline;
    color: var(--font);
}

/* kontakt tlf */
.kontakt-box .kontaktinfo-box .tlf-kontakt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon {
    display: flex;
}

.kontakt-box .kontaktinfo-box .tlf-kontakt .tlf-icon img {
    width: 100%;
    max-width: 40px;
    max-height: 40px;
}

.kontakt-box .kontaktinfo-box .tlf-kontakt .tlf {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 350;
    line-height: 24px;
    font-family: var(--p-font-family);
    color: var(--font);
    padding: 20px;
    display: flex;
}

.kontakt-box .kontaktinfo-box .tlf-kontakt .tlf a {
    text-decoration: none;
    color: var(--font);
}

.kontakt-box .kontaktinfo-box .tlf-kontakt .tlf a:hover {
    text-decoration: underline;
    color: var(--font);
}

/* kontakt knap */
.kontakt-box .kontaktinfo-box .box-knap {
display: flex;
align-self: flex-end;
text-decoration: none;
}

.kontakt-box .kontaktinfo-box .box-knap .kontakt-knap h2 {
font-size: 20px;
font-family: var(--h2-font-family);
font-weight: 200;
padding: 5px 10px;
text-align: center;
display: flex;
}

.kontakt-box .kontaktinfo-box .box-knap .kontakt-knap h2 a { 
text-decoration: none;
text-align: center;
background-color: var(--color2);
padding: 20px 15px;
border-radius: 10px;
color: var(--font2);
}

.kontakt-box .kontaktinfo-box .box-knap .kontakt-knap a:hover {
background-color: var(--color3);
color: var(--font2);
}

/* FOOTER STYLING WEB */

.footer-box {
    background-color: var(--font);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*copy og some*/

.footer-box .copy-some-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-box .copy-some-footer .some-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
}

.footer-box .copy-some-footer .some-box img {
    width: 100%;
    max-width: 50px;
}


.footer-box .copy-some-footer .copy {
    font-family: var(--p-font-family);
    color: var(--font2);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

}


@media screen and (min-width: 1100px) {

/* projekter billeder */
.projekt-box .box-midten img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.projekt-box .box-midten video {
    max-width: 400px;
    max-height: 400px;
}

}

@media screen and (min-width: 1200px) {

    /* projekter billeder */
    .projekt-box .box-midten img {
        width: 100%;
        max-width: 450px;
        max-height: 450px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .projekt-box .box-midten video {
        max-width: 450px;
        max-height: 450px;
    }
}

@media screen and (min-width: 1300px) {

    /* projekter billeder */
    .projekt-box .box-midten img {
        width: 100%;
        max-width: 500px;
        max-height: 500px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .projekt-box .box-midten video {
        max-width: 500px;
        max-height: 500px;
    }
 }

 @media screen and (min-width: 1400px) {

    /* projekter billeder */
    .projekt-box .box-midten img {
        width: 100%;
        max-width: 550px;
        max-height: 550px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .projekt-box .box-midten video {
        max-width: 500px;
        max-height: 500px;
    }
 }

 @media screen and (min-width: 1500px) {

    body {
        max-width: 100%;
    }
    /* projekter billeder */
    .projekt-box .box-midten img {
        width: 100%;
        max-width: 550px;
        max-height: 550px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .projekt-box .box-midten video {
        max-width: 500px;
        max-height: 500px;
    }
 }

